@import url(../../common/style.css);

body {
  background-image: url(galaxy.jpeg);
  padding: 40px;
}

header {
  text-align: center;
}

canvas {
  flex: 1;
  margin: 32px;
  image-rendering: pixelated;
}

footer {
  display: flex;
  align-items: center;
}
footer > * + * {
  margin-left: 8px;
}
footer button {
  padding: 4px;
}