@import url(../../common/style.css);

body {
  background-image: url(galaxy.jpeg);
  padding: 40px;
}

header { color: white;  ;
  text-align: center;
}

canvas { color: white;
  flex: 20px;
  margin: 50px;
  image-rendering: pixelated;
}

footer { color: white;
  display: flex;
  align-items: center;
}
footer > * + * { color: white;
  margin-left: 16px;
}
footer button { color: white;
  padding: 4px;
}