.tile-content.type1 {
    background-color: #f3ef0e;
}

.tile-content.type1 .layer1 {
    background-color: rgb(37, 236, 10);
    mask-image: url(../assets/star-8.svg);
    -webkit-mask-image: url(../assets/star-8.svg);
}

.tile-content.type1 .layer2 {
    background-color: #ddd;
    mask-image: url(../assets/4-squares.svg);
    -webkit-mask-image: url(../assets/4-squares.svg);
    transform: scale(50%);
}

.tile-content.type1 .layer3 {
    background-color: rgb(240, 236, 10);
    mask-image: url(../assets/star-8-stroke.svg);
    -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

