.tile-content.type1 {
    background-color: #f0f0ec;
}

.tile-content.type1 .layer1 {
    background-color: rgb(15, 137, 236);
    mask-image: url(../assets/star-8.svg);
    -webkit-mask-image: url(../assets/star-8.svg);
}

.tile-content.type1 .layer2 {
    background-color: rgb(27, 236, 73);
    mask-image: url(../assets/4-squares.svg);
    -webkit-mask-image: url(../assets/4-squares.svg);
    transform: scale(50%);
}

.tile-content.type1 .layer3 {
    background-color: rgb(236, 236, 121);
    mask-image: url(../assets/star-8-stroke.svg);
    -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

