.tile-content.type1 {
    background-color: #f0f0ec;
}

.tile-content.type1 .layer1 {
    background-color: rgb(239, 245, 238);
    mask-image: url(../assets/star-8.svg);
    -webkit-mask-image: url(../assets/star-8.svg);
}

.tile-content.type1 .layer2 {
    background-color: #ddd;
    mask-image: url(../assets/4-squares.svg);
    -webkit-mask-image: url(../assets/4-squares.svg);
    transform: scale(50%);
}

.tile-content.type1 .layer3 {
    background-color: rgb(241, 241, 234);
    mask-image: url(../assets/star-8-stroke.svg);
    -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

