.tile-content.type1 {
  background-color: #0fd884;
}

.tile-content.type1 .layer1 {
  background-color: #7ccab0;
  mask-image: url(../assets/star-8.svg);
  -webkit-mask-image: url(../assets/star-8.svg);
}

.tile-content.type1 .layer2 {
  background-color: rgb(44, 5, 116);
  mask-image: url(../assets/star-8-stroke.svg);
  -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

.tile-content.type1 .layer3 {
  background-color: #8880cf;
  mask-image: url(../assets/4-squares.svg);
  -webkit-mask-image: url(../assets/4-squares.svg);
  transform: scale(.5);
}