.tile-content.type1 {
  background-color: rgb(241, 227, 205);
}

.tile-content.type1 .layer1 {
  background-color: rgb(255, 254, 254);
  mask-image: url(../assets/star-8.svg);
  -webkit-mask-image: url(../assets/star-8.svg);
}

.tile-content.type1 .layer2 {
  background-color: #ff6347;
  mask-image: url(../assets/star-8-stroke.svg);
  -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

.tile-content.type1 .layer3 {
  background-color: #d90045;
  mask-image: url(../assets/4-squares.svg);
  -webkit-mask-image: url(../assets/4-squares.svg);
  transform: scale(.5);
}
