@import url(../../common/style.css);

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft") format("truetype");
 }

body {
  padding: 64px;
  background-color: #393939;
}

h1{
  color: #D73700;
  font-family: "minecraft" ;
  letter-spacing: 2px;
  font-size: 3em;
}

p{
  color:white;
  font-family: "minecraft" ;
  letter-spacing:  2px;
}

header {
  text-align: center;
}

canvas {
  flex: 1;
  margin: 32px;
  image-rendering: pixelated;
}

footer {
  display: flex;
  align-items: center;
}

footer > * + * {
  margin-left: 8px;
  color: white;
  font-family: minecraft;
  letter-spacing: 2px;
}

footer button {
  padding: 4px;
  color:black;
  background-color: #ECD21A;
  font-family: "minecraft" ;
  letter-spacing:  2px;
  outline: solid 0.15em #000;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

footer button:hover {
  padding: 4px;
  color:black;
  background-color: #C1AC19;
  font-family: "minecraft" ;
  letter-spacing:  2px;
  outline: solid 0.15em #000;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#speed{
  color:tomato;
}

#frame{
  
}