@import url(../../common/style.css);

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft") format("truetype");
 }

body {
  padding: 64px;
  background-color: #393939;
}

h1{
  color:white;
  font-family: "minecraft" ;
}

p{
  color:white;
}

header {
  text-align: center;
}

canvas {
  flex: 1;
  margin: 32px;
  image-rendering: pixelated;
}

footer {
  display: flex;
  align-items: center;
}
footer > * + * {
  margin-left: 8px;
}
footer button {
  padding: 4px;
}