@import url(../../common/style.css);

body {
  padding: 64px;
  background-color: #393939;
}

h1{
  color:white;
}

p{
  color:white;
}

header {
  text-align: center;
}

canvas {
  flex: 1;
  margin: 32px;
  image-rendering: pixelated;
}

footer {
  display: flex;
  align-items: center;
}
footer > * + * {
  margin-left: 8px;
}
footer button {
  padding: 4px;
}