.tile-content.type1 {
  background-color: #ead2ac;
}

.tile-content.type1 .layer1 {
  background-color: #fe938c;
  mask-image: url(../assets/star-8.svg);
  -webkit-mask-image: url(../assets/star-8.svg);
}

.tile-content.type1 .layer2 {
  background-color: #4281a4;
  mask-image: url(../assets/star-8-stroke.svg);
  -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

.tile-content.type1 .layer3 {
  background-color: #999;
  mask-image: url(../assets/4-squares.svg);
  -webkit-mask-image: url(../assets/4-squares.svg);
  transform: scale(.5);
}
