@import url(../../common/style.css);

body {
  padding: 64px;
  background-color: rgb(9, 13, 26);
}

/* Modification header (titre) + span (nb de frame multiplie par la vitesse) */
header, span {
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 20px #1da9cc;
}

/* Canvas */
canvas {
  border-radius: 10px;
  flex: 1;
  margin: 32px;
  border: solid 10px #2debeb;
  image-rendering: pixelated;
  box-shadow: #2debeb 0px 0px 20px 5px;
}
/* Fin du Canvas */

/* Footer */
footer {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
footer > * + * {
  margin-left: 8px;
}
/* Fin du Footer */

/* Style des boutons */
button {
  margin: 20px;
  font-family: inherit;
  font-style: oblique;
}

.fill {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #2debeb;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 10px;
  transition: 0.4s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
  box-shadow: #cf88ff 0px 0px 20px 5px;
}
/*Fin style des boutons*/

/* Slider */
#speed {
  height: 2px;
  background: #ddd;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  width: 20em;
  z-index: 1;
}

#rangeValue{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60;
  left: 0;
  opacity: 0.7;
  font-size: 7em;
}

#speed::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1da9cc;
}
/* Fin du Slider */