.tilecontent.type1 {
  background-color: rgb(60, 1, 255);
}

.tilecontent.type1 .layer1{
  background-color: black ;
  mask-image: url(../assets/star-8.svg);
  -webkit-mask-image: url(../assets/star-8.svg)
}

.tile-content.type1 .layer2 {
  background-color: rgb(176, 169, 185);
  mask-image: url(../assets/star-8-stroke.svg);
  -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

.tile-content.type1 .layer3 {
  background-color: rgb(218, 211, 238);
  mask-image: url(../assets/4-squares.svg);
  -webkit-mask-image: url(../assets/4-squares.svg);
  transform: scale(.5);
}