.tile-content.type1 {
  background-color: #D8BFD8;
}

.tile-content.type1 .layer1 {
  background-color: rgb(106, 90, 205);
  mask-image: url(../assets/chèvre.svg);
  -webkit-mask-image: url(../assets/chèvre.svg);
}

.tile-content.type1 .layer2 {
  background-color: rgb(75,0,130);
  mask-image: url(../assets/star-8-stroke.svg);
  -webkit-mask-image: url(../assets/star-8-stroke.svg);
}

.tile-content.type1 .layer3 {
  background-color: rgb(230, 230, 250);
  mask-image: url(../assets/star-8.svg);
  -webkit-mask-image: url(../assets/star-8.svg);
  transform: scale(.5);
}