@import url(../../common/style.css);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=block);

body {
  padding: 64px;
}

header {
  text-align: center;
}

canvas {
  flex: 1;
  margin: 32px;
  image-rendering: pixelated;
}

footer {
  display: flex;
  align-items: center;
}
footer > * + * {
  margin-left: 8px;
}
footer button {
  padding: 4px;
}
footer {
  font-family: 'Fira Code', monospace;
}